html, body{
    padding: 0px;
    margin: 0 px;
    font-size: 12px;
    font-family: 'Lemonada', cursive;
}

nav {
    display: flex;
    background-color: #000000;
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}
nav li{
    padding-right: 20px;
    list-style: none;
}
nav li a{
    color:white;
    text-decoration: none;
}
nav img{
    width: 200px;
    height: 100px;
}
nav .field{
    display:flex;
    padding-right: 20px;

}
/*-------------------------Main section*/
.main_section{
    padding: 15px;
    background-image: url("../images/conjunto-comida-perros-cuello_23-2147828985.jpg");
    height: 400px;
    background-size:cover;
}
.main_section h1,h3 {
    padding: 15px;
    padding-left:100px;
    color:#FFFFFF;
    text-decoration-style: wavy;
    align-items: center;
}
.field {
    display:flex;
    position:realtive;
    margin:5em auto;
    width:70%;
    flex-direction:row;
    box-shadow:
     1px 1px 0 rgb(22, 160, 133),
     2px 2px 0 rgb(22, 160, 133),
     3px 3px 0 rgb(22, 160, 133),
     4px 4px 0 rgb(22, 160, 133),
     5px 5px 0 rgb(22, 160, 133),
     6px 6px 0 rgb(22, 160, 133),
     7px 7px 0 rgb(22, 160, 133)
    ;
  }
  
  .field>input[type=text],
  .field>button {
    display:block;
    font:1.2em 'Montserrat Alternates';
  }
  
  .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(26, 188, 156);
  }
  
  .field>button {
    padding:0.6em 0.8em;
    background-color:rgb(26, 188, 156);
    color:white;
    border:none;
  }